<%- include("inc/header") -%>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h4 mb-4 text-gray-800">Produtos - Categorias</h1>
  <p>Você pode organizar melhor seus produtos, para isso basta criar categorias.</p>

  <div class="row">
    <div class="col">
      <div class="card shadow mb-4 border-left-info">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Adicionar uma nova Categoria</h6>
        </div>
        <div class="card-body">

          <form>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Descrição:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Ex: Bebidas">
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Cadastrar!</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<%- include("inc/footer") -%>