    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h4 mb-4 text-gray-800">Monte seu pedido</h1>

        <div class="row">

            <div class="col-md-8 container-view-products">
                <div class="row" id="viewProducts">

                </div>
            </div>

            <div class="col-md-4 bg-white">

                <div class="container-table">
                    <table class="table table-bordered table-cart" id="tableCart">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th class="text-center">Qtd.</th>
                                <th>Preço</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
    
                        </tbody>
                    </table>
                </div>

                <div class="text-center position-absolute fixed-bottom container-acoes">
                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-8 mt-2">
                                    <h5>Total: <b id="vlTotalCart"></b></h5>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-success" disabled="true" id="btnSendRequest" onclick="sendNewRequest();">Enviar!</button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <button class="btn btn-danger btn-block" id="btnCloseOrder" onclick="closeOrder();">Fechar Comanda!</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container-fluid -->
    
</div>
<!-- End of Main Content -->

<div class="modal fade" id="openOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nova comanda</h5>
        </div>
        <div class="modal-body">
            <form id="formOpenOrder" onsubmit="return false;">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nome:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Digite o nome do solicitante." name="desName" id="desName" data-require="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mesa:</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="idBoard" id="idBoard">
                                <option value="1" selected>Mesa 1</option>
                            </select>
                        </div>
                    </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" id="btnCloseOpenOrder" onclick="window.location.assign('/inicio')">Sair</button>
            <button type="submit" class="btn btn-success" id="btnOpenOrder" onclick="openNewOrder();">Abrir Comanda!</button>
        </div>
        </div>
    </div>
</div>