<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h4 mb-4 text-gray-800">Produtos - Novo</h1>
  <p>Permite você criar seus produtos para serem apresentados no cardápio de seu restaurante.</p>

  <div class="row">
    <div class="col">
      <div class="card shadow mb-4 border-left-info">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Adicionar um novo Produto</h6>
        </div>
        <div class="card-body">

          <form>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Nome:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Lanche - Whoollie FooD">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Descrição:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Descrição">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Valor Unitário:</label>
              <div class="col-sm-10">
                <input type="money" class="form-control" placeholder="R$ 25,00">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Categoria:</label>
              <div class="col-sm-10">
                <select class="form-control">
                  <option>Bebidas</option>
                  <option>Lanches</option>
                </select>
              </div>
            </div>
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Ativo ?</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radAtivo" value="1" checked>
                    <label class="form-check-label">
                      Sim
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radAtivo" value="0">
                    <label class="form-check-label">
                      Não
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Imagem:</label>
              <div class="col-sm-10">
                <label for="exampleFormControlFile1">Imagem do produto aparecerá no cardapio.</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Cadastrar!</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

  </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->