<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h4 mb-4 text-gray-800">Lista de Produtos <button type="button" class="btn btn-success float-right"
      data-toggle="modal" data-target="#addModal">Adicionar Produto</button></h1>
  <p>Permite você visualizar, buscar e gerenciar seu cardápio de forma simples.</p>
  <p>* Recomendamos que utilize uma resolução de 286x180 pixels para a imagem de seus produtos.</p>

  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Filtros de Pesquisa</h6>
        </div>
        <div class="card-body" id="cardBodyFilter">
          <form id="formFilterProduct">
            <div class="row">
              <div class="col-sm-5">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" name="desName" placeholder="Nome do produto...">
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <select class="form-control" id="idProductCategory" name="idProductCategory">
                      <option value="">Categoria...</option>
                      <!--option>Lanches</option-->
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-success btn-block">Filtrar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <style>


  </style>

  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Produtos</h6>
        </div>
        <div class="card-body">

          <div class="row" id="viewProduct">
            

          </div>


        </div>
      </div>
    </div>
  </div>


</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar novo produto</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formCreateProduct">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nome:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Lanche - Whoollie FooD" name="desName"
                data-require="true">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Descrição:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Descrição" name="desNote" data-require="true">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Valor Unitário:</label>
            <div class="col-sm-10">
              <input type="money" class="form-control" placeholder="R$ 25,00" name="vlUnity" data-require="true">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Categoria:</label>
            <div class="col-sm-10">
              <select class="form-control" name="idProductCategory" id="idProductCategory">
              </select>
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Ativo ?</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="isActive" value="1" checked>
                  <label class="form-check-label">
                    Sim
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="isActive" value="0">
                  <label class="form-check-label">
                    Não
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Imagem:</label>
            <div class="col-sm-10">
              <label for="exampleFormControlFile1">Imagem do produto aparecerá no cardapio.</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1" name="desImagePath">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
          id="btnCancelCreateProduct">Cancelar</button>
        <button type="submit" class="btn btn-success" id="btnCreateProduct">Cadastrar!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar produto</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formEditProduct">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nome:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Lanche - Whoollie FooD" name="desName" id="desName"
                data-require="true">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Descrição:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Descrição" name="desNote" id="desNote"
                data-require="true">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Valor Unitário:</label>
            <div class="col-sm-10">
              <input type="money" class="form-control" placeholder="R$ 25,00" name="vlUnity" id="vlUnity"
                data-require="true">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Categoria:</label>
            <div class="col-sm-10">
              <select class="form-control" name="idProductCategory" id="idProductCategory">
              </select>
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Ativo ?</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="isActive" id="checkYes" value="1" checked>
                  <label class="form-check-label">
                    Sim
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="isActive" id="checkNo" value="0">
                  <label class="form-check-label">
                    Não
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Imagem:</label>
            <div class="col-sm-10">
              <label for="exampleFormControlFile1">Imagem do produto aparecerá no cardapio.</label>
              <input type="file" class="form-control-file" name="desImagePath" id="desImagePath">
              <input type="hidden" name="desOldImagePath" id="desOldImagePath">
            </div>
          </div>
          <div class="form-group row justify-content-md-center">
            <label class="col-sm-2 col-form-label">Imagem atual do produto:</label>
            <div class="col-sm-10">
              <img src="" id="image" style="max-width: 200px; max-height: 200px;">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" id="btnCancelEditProduct">Cancelar</button>
        <button type="submit" class="btn btn-success" id="btnEditProduct">Editar!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addIngredientsProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar Ingredientes ao produto</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Ingrediente</th>
                  <th style="width: 10%">Ação</th>
                </tr>
              </thead>
              <tbody id="unrelatedIngredients">

              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Ingrediente</th>
                  <th style="width: 20%">U. Medida</th>
                  <th style="width: 10%">Ação</th>
                </tr>
              </thead>
              <tbody id="relatedIngredients">

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" id="btnCancelEditProduct">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-sm" id="addInformationIngredientProductModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informe os valores</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="container text-center">
          <form id="formDataIngredient">
            <div class="form-group">
              <label for="qtIngredient">Quantidade</label>
              <input type="number" class="form-control" name="qtIngredient" id="qtIngredient" />
            </div>
            <div class="form-group">
              <label for="qtIngredient">Unidade de medida</label>
              <select class="form-control" id="idMeasurement" name="idMeasurement">
              </select>
            </div>
            <input type="hidden" name="idProduct" id="idProduct">
            <input type="hidden" name="idIngredient" id="idIngredient">
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" id="btnCancelEditProduct">Cancelar</button>
        <button type="submit" class="btn btn-success" onclick="addIngredientToProduct();">Inserir!</button>
      </div>
    </div>
  </div>
</div>