<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h4 mb-4 text-gray-800">Lista de Produtos <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#addModal">Adicionar Produto</button></h1>
    <p>Permite você visualizar, buscar e gerenciar seu cardápio de forma simples.</p>
  
    <div class="row">
      <div class="col">
        <div class="card shadow mb-4 border-left-info">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Filtros de Pesquisa</h6>
          </div>
          <div class="card-body" id="cardBodyFilter">
            <form id="formFilterProduct">
              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <input type="text" class="form-control" placeholder="Nome do produto...">
                    </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <select class="form-control" id="idProductCategory">
                        <option>Categoria...</option>
                        <option>Bebidas</option>
                        <option>Lanches</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-success">Filtrar</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <h1 class="h5 mb-4 text-gray-800">Todos os Produtos:</h1>
    <div class="row" id="viewProduct">
  
      
    </div>
  
  </div>
  <!-- /.container-fluid -->
  
  </div>
  <!-- End of Main Content -->

  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Adicionar novo produto</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="formCreateProduct">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nome:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Lanche - Whoollie FooD" name="desName" data-require="true">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Descrição:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Descrição" name="desNote" data-require="true"> 
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Valor Unitário:</label>
                <div class="col-sm-10">
                  <input type="money" class="form-control" placeholder="R$ 25,00" name="vlUnity" data-require="true">
                </div>
              </div>
              <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Qtd. Estoque:</label>
                  <div class="col-sm-10">
                    <input type="money" class="form-control" placeholder="1" name="qtStock" data-require="true">
                  </div>
                </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Categoria:</label>
                <div class="col-sm-10">
                  <select class="form-control" name="idProductCategory" id="idProductCategory">
                  </select>
                </div>
              </div>
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Ativo ?</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="isActive" value="1" checked>
                      <label class="form-check-label">
                        Sim
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="isActive" value="0">
                      <label class="form-check-label">
                        Não
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Imagem:</label>
                <div class="col-sm-10">
                  <label for="exampleFormControlFile1">Imagem do produto aparecerá no cardapio.</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image">
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal" id="btnCancelCreateProduct">Cancelar</button>
          <button type="submit" class="btn btn-success" id="btnCreateProduct">Cadastrar!</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar produto</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="formEditProduct">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nome:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Lanche - Whoollie FooD" name="desName" id="desName" data-require="true">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Descrição:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Descrição" name="desNote" id="desNote" data-require="true"> 
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Valor Unitário:</label>
                <div class="col-sm-10">
                  <input type="money" class="form-control" placeholder="R$ 25,00" name="vlUnity" id="vlUnity" data-require="true">
                </div>
              </div>
              <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Qtd. Estoque:</label>
                  <div class="col-sm-10">
                    <input type="money" class="form-control" placeholder="1" name="qtStock" id="qtStock" data-require="true">
                  </div>
                </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Categoria:</label>
                <div class="col-sm-10">
                  <select class="form-control" name="idProductCategory" id="idProductCategory">
                  </select>
                </div>
              </div>
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Ativo ?</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="isActive" id="isActive" value="1" checked>
                      <label class="form-check-label">
                        Sim
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="isActive" id="isActive" value="0">
                      <label class="form-check-label">
                        Não
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Imagem:</label>
                <div class="col-sm-10">
                  <label for="exampleFormControlFile1">Imagem do produto aparecerá no cardapio.</label>
                  <input type="file" class="form-control-file" name="image" id="image">
                </div>
                <div style="max-width: 100px">
                  <img src="">
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal" id="btnCancelEditProduct">Cancelar</button>
          <button type="submit" class="btn btn-success" id="btnEditProduct">Editar!</button>
        </div>
      </div>
    </div>
  </div>