<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h4 mb-4 text-gray-800">Lista de Categorias de Produtos <button type="button"
            class="btn btn-success float-right" data-toggle="modal" data-target="#addModal">Adicionar Categoria</button>
    </h1>
    <p>Permite você visualizar, buscar e gerenciar suas categorias de produtos de forma simples.</p>

    <br>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="viewCategoriesProducts">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>Nome</th>
                    <th>Registrado em:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar nova categoria</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formCreateCategorieProduct" method="POST">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nome:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="desName" placeholder="Ex: Massas, Porções..."
                                data-require="true">
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Ativo ?</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive" value="1" checked>
                                    <label class="form-check-label">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive" value="0">
                                    <label class="form-check-label">
                                        Não
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Imagem:</label>
                        <div class="col-sm-10">
                            <label for="exampleFormControlFile1">Imagem da categoria aparecerá no cardapio.</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1"
                                name="desImagePath">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success" id="btnCreateCategorieProduct">Cadastrar!</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Categoria do Produto</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formEditCategories" method="POST">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nome:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="desName" placeholder="Ex: Massas, Porções..."
                                data-require="true">
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Ativo ?</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" id="checkYes" type="radio" name="isActive" value="1"
                                        checked>
                                    <label class="form-check-label">
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="checkNo" type="radio" name="isActive" value="0">
                                    <label class="form-check-label">
                                        Não
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Imagem:</label>
                        <div class="col-sm-10">
                            <label for="exampleFormControlFile1">Imagem da categoria aparecerá no cardapio.</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1"
                                name="desImagePath">
                            <input type="hidden" name="desOldImagePath" id="desOldImagePath">
                        </div>
                    </div>
                    <div class="form-group row justify-content-md-center">
                        <label class="col-sm-2 col-form-label">Imagem atual do produto:</label>
                        <div class="col-sm-10">
                            <img src="" id="image" style="max-width: 200px; max-height: 200px;">
                        </div>
                    </div>

                    <input type="hidden" name="idHidden" id="idHidden">

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success" id="btnEditCategoryProduct">Editar!</button>
            </div>
        </div>
    </div>
</div>