<!-- Begin Page Content -->
<div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h4 mb-4 text-gray-800">Configurações</h1>
        <p>Permite você realizar as configurações básicas da sua empresa.</p>
      
        <div class="row">
          <div class="col">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Configurações Básicas</h6>
              </div>
              <div class="card-body">
                <form id="formEditCompany" method="POST">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nome:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="desName" name="desName" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">CNPJ:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="desCNPJ" name="desCNPJ" required>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-success">Editar!</button>
                    </div>
                  </div>
                </form>
      
              </div>
            </div>
          </div>
        </div>
      
      </div>
      <!-- /.container-fluid -->
      
      </div>
      <!-- End of Main Content -->