.container-image {
    min-height: 200px;
}

.container-image .btn-image {
    position: absolute;
    top: 07%;
    left: 1.5em;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.fa-button {
    cursor: pointer;
}

.container-view-products {
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 740px;
}

@media only screen and (min-width: 1100px) {
    .container-table {
        overflow-y: scroll; 
        overflow-x: hidden;
        max-height: 72%;
    }
}

@media only screen and (min-height: 468px) {
    .container-view-products {
        height: 240px;
    }
}

@media only screen and (min-height: 568px) {
    .container-view-products {
        height: 340px;
    }

    .container-table {
        margin-bottom: 40%; 
    } 
}

@media only screen and (min-height: 648px) {
    .container-view-products {
        height: 510px;
    }

    .container-table {
        margin-bottom: 55%; 
    } 
}

@media only screen and (min-height: 648px) and (min-width: 600px) and (max-width: 900px) {
    .container-view-products {
        height: 510px;
    }

    .table-cart {
        margin-bottom: 30%;
    }
}

@media only screen and (min-height: 768px) {
    .container-view-products {
        height: 560px;
    }

    .container-table {
        margin-bottom: 40%; 
    }    
}

@media only screen and (min-height: 868px) {
    .container-view-products {
        height: 740px;
    }
}

@media only screen and (min-height: 1068px) {
    .container-view-products {
        height: 940px;
    }
}

@media only screen and (min-height: 1268px) {
    .container-view-products {
        height: 1040px;
    }
}



