<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MONITOR DE PREPARO</title>

  <!-- Custom fonts for this template-->
  <link href="/res/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/res/admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="">

    <div class="row">

      <div class="col-sm-3 mb-2">
        <div class="card shadow">
          <h5 class="card-header">MESA nº 01 -- PEDIDO nº 25</h5>
          <div class="card-body">
            <div class="requests">
              <h5 class="card-text">2 X - PICANHA</h5>
              <p>* Sem alface, sem molhos.</p>
              <h5 class="card-text">2 X - PICANHA</h5>
              <p>* Sem alface, sem molhos.</p>
              <h5 class="card-text">2 X - PICANHA</h5>
              <p>* Sem alface, sem molhos.</p>
            </div>
            <div class="text-center">
              <a href="#" class="btn btn-success">PRONTO</a>
            </div>
          </div>
          <div class="card-footer">
            <div class="float-left">
              <small><i class="fas fa-user"></i> EDUARDO GERALDINI</small>
            </div>
            <div class="float-right">
              <small><i class="fas fa-clock"></i> 13/04/2019 18:08h</small>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/res/admin/vendor/jquery/jquery.min.js"></script>
  <script src="/res/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/res/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/res/admin/js/sb-admin-2.min.js"></script>
  <script src="https://js.pusher.com/4.4/pusher.min.js"></script>

</body>

</html>